<div class="row" style="margin-top: 120px; margin-bottom: 30px;">
    <div class="col-xs-12">
        <img class="img-responsive" src="img/ac_logo.png" style="margin-left: auto; margin-right: auto;"/>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 text-center">
Arian Celina</br>
Web: <strong>arian-celina.com</strong></br>
e-mail: arian@arian-celina.com</br>
twitter: @ariancelina

    </div>
</div>
<div class="col-xs-12">
    <a href="#/" class="btn btn-default center-block" style="color:#ffff00" role="button">Location info</a>
</div>