<div class="row">
    <div style="margin-top: 120px; margin-bottom: 30px;" class="col-xs-12">
        <img class="img-responsive" src="img/ac_logo.png" style="margin-left: auto; margin-right: auto;"/>
    </div>
</div>
<h1>arian-celina.com</h1>
<br/>
<div id="deviceready" class="blink" class="col-xs-12">
    <p class="event listening">Connecting to Device</p>
    <p class="event received">Device is Ready</p>
    <p class="text-center"> Your location is: <br/>
    	Latitude: {{latitude}}<br/>
    	Longitude: {{longitude}} <br/>
    </p>
</div>
<div class="col-xs-12">
	<a href="#/about" class="btn btn-default center-block" style="color:#ffff00" role="button">About</a>
</div>